In [1]:
import trueskillthroughtime as ttt
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("dark_background")

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:


df = pd.read_csv('games.csv')

df['handicap'].mean()
df

,id,created,modified,handicap,komi,result,reason,points,date,black_player_id,...,event_id,description,unrated,id.1,created.1,modified.1,name,start_date,end_date,description.1
0,6791,2023-07-05 02:57:16,2023-07-05 02:57:16,0,6.5,black,unknown,0.0,2023-01-15,142,...,122,NaN,0,122,2023-07-05 02:57:16,2023-07-05 02:57:16,Clasificatorio Equipo Argentino 7.ª Liga Panda...,2023-01-14,2023-01-15,NaN
1,6790,2023-07-05 02:57:16,2023-07-05 02:57:16,0,6.5,black,unknown,0.0,2023-01-15,173,...,122,NaN,0,122,2023-07-05 02:57:16,2023-07-05 02:57:16,Clasificatorio Equipo Argentino 7.ª Liga Panda...,2023-01-14,2023-01-15,NaN
2,6789,2023-07-05 02:57:16,2023-07-05 02:57:16,0,6.5,black,unknown,0.0,2023-01-15,208,...,122,NaN,0,122,2023-07-05 02:57:16,2023-07-05 02:57:16,Clasificatorio Equipo Argentino 7.ª Liga Panda...,2023-01-14,2023-01-15,NaN
3,6788,2023-07-05 02:57:16,2023-07-05 02:57:16,0,6.5,white,unknown,0.0,2023-01-15,45,...,122,NaN,0,122,2023-07-05 02:57:16,2023-07-05 02:57:16,Clasificatorio Equipo Argentino 7.ª Liga Panda...,2023-01-14,2023-01-15,NaN
4,6787,2023-07-05 02:57:16,2023-07-05 02:57:16,0,6.5,white,unknown,0.0,2023-01-14,142,...,122,NaN,0,122,2023-07-05 02:57:16,2023-07-05 02:57:16,Clasificatorio Equipo Argentino 7.ª Liga Panda...,2023-01-14,2023-01-15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6486,5,2016-06-29 18:17:28,2016-09-23 13:52:20,0,6.5,white,points,5.5,2012-06-30,5,...,4,NaN,0,4,2016-06-29 18:13:09,2016-09-23 13:52:20,GranTorneoDeTest2,2012-06-30,2012-06-30,En esta revancha el jugador malo pierde contra...
6487,4,2016-06-29 18:13:09,2016-09-23 13:52:20,0,6.5,black,points,10.5,2012-06-30,4,...,4,NaN,0,4,2016-06-29 18:13:09,2016-09-23 13:52:20,GranTorneoDeTest2,2012-06-30,2012-06-30,En esta revancha el jugador malo pierde contra...
6488,3,2016-06-29 17:40:55,2016-09-23 13:52:02,0,6.5,white,resignation,0.0,2012-06-29,3,...,3,NaN,0,3,2016-06-29 17:34:00,2016-09-23 13:52:02,GranTorneoDeTest1,2012-06-29,2012-06-29,El mejor torneo del mundo. Sirve para probar q...
6489,2,2016-06-28 14:44:44,2016-09-23 13:51:37,0,6.5,white,points,2.5,2012-06-28,2,...,2,NaN,0,2,2016-06-28 14:43:24,2016-09-23 13:51:37,TorneoJamón,2012-06-28,2012-06-28,NaN
6490,1,2016-06-26 19:50:16,2016-09-23 13:51:16,5,0.5,black,resignation,0.0,2012-06-26,2,...,1,NaN,0,1,2016-06-26 19:50:00,2016-09-23 13:51:15,TorneoLechuga,2012-06-26,2012-06-26,NaN

In [3]:

df['winner_id'] = df.apply(lambda row : str(row['black_player_id']) if row['result'] == 'black' else str(row['white_player_id']), axis = 1)
df['looser_id'] = df.apply(lambda row : str(row['white_player_id']) if row['result'] == 'black' else str(row['black_player_id']), axis = 1)
df['winner_handicap'] =  df.apply(lambda row : 'handi_' + str(row['handicap']) if row['result'] == 'black' else 'handi_0', axis = 1)
df['looser_handicap'] = df.apply(lambda row : 'handi_0' if row['result'] == 'black' else 'handi_' + str(row['handicap']), axis = 1)


def winner_team(row):
    if row['result'] == 'black':
        return [str(row['black_player_id']) , 'handi_1', 'handi_0']
    else:
        return [str(row['white_player_id']) ]
        
def looser_team(row):
    if row['result'] == 'white':
        return [str(row['black_player_id']) , 'handi_1', 'handi_0']
    else:
        return [str(row['white_player_id']) ] 

def winner_team_weights(row):
    if row['result'] == 'black':
        return [1.0, float(row.handicap), 1.0]
    else:
        return [1.0]
    
        
def looser_team_weights(row):
    if row['result'] == 'white':
        return [1.0, float(row.handicap), 1.0]
    else:
        return [1.0] 


df['winner_team'] = df.apply(winner_team, axis = 1)
df['looser_team'] = df.apply(looser_team, axis = 1)
df['winner_team_weights'] = df.apply(winner_team_weights, axis = 1)
df['looser_team_weights'] = df.apply(looser_team_weights, axis = 1)


players_ids = set(df['winner_id']).union(set(df['looser_id']))
handi_ids= set(['handi_0'] +[ 'handi_' + str(i) for i in range(2,10)] )

# handi_ids
# df['start_date']
df[['handicap', 'result', 'winner_handicap', 'winner_team']]
# df.dtypes

      handicap result winner_handicap              winner_team
0            0  black         handi_0  [142, handi_1, handi_0]
1            0  black         handi_0  [173, handi_1, handi_0]
2            0  black         handi_0  [208, handi_1, handi_0]
3            0  white         handi_0                      [7]
4            0  white         handi_0                     [96]
...        ...    ...             ...                      ...
6486         0  white         handi_0                      [3]
6487         0  black         handi_0    [4, handi_1, handi_0]
6488         0  white         handi_0                      [4]
6489         0  white         handi_0                      [1]
6490         5  black         handi_5    [2, handi_1, handi_0]

[6491 rows x 4 columns]

In [ ]:
columns = zip(df.winner_team, df.looser_team)
composition = [ [w,l] for w, l in columns ]

weights = [ [ww, lw] for ww, lw in zip(df.winner_team_weights, df.looser_team_weights)]
times = [ datetime.strptime(t, "%Y-%m-%d").timestamp()/(60*60*24) for t in df.end_date]




priors_handi = {'handi_1': ttt.Player(ttt.Gaussian(0, 6), beta=0,gamma=0),
                'handi_0': ttt.Player(ttt.Gaussian(0, 6), beta=0,gamma=0)
               }

display(priors_handi)

h = ttt.History(composition = composition, times = times, priors= priors_handi, sigma=1.13, gamma=0.025, weights= weights)
h.convergence(epsilon=0.01, iterations=16) # 16

{'handi_1': Player(Gaussian(mu=0.000, sigma=6.000), beta=0.000, gamma=0.000),
 'handi_0': Player(Gaussian(mu=0.000, sigma=6.000), beta=0.000, gamma=0.000)}

Iteration =  0 , step =  (5.260840071320346, 5.900816961183743)
Iteration =  1 , step =  (0.3721661307083415, 0.022213640027428205)
Iteration =  2 , step =  (0.2259351700848784, 0.008917221935163866)
Iteration =  3 , step =  (0.16237712389494074, 0.006725709421639081)
Iteration =  4 , step =  (0.12384734994174007, 0.005224469913813756)
Iteration =  5 , step =  (0.09947769992183453, 0.004164939378016985)
Iteration =  6 , step =  (0.08134670567216151, 0.0034136076516519953)
Iteration =  7 , step =  (0.06741348989108431, 0.0028292756612061654)
Iteration =  8 , step =  (0.05639969766285624, 0.0023655667274766756)
Iteration =  9

In [ ]:

agents = df.winner_id.sample(n=5).to_list() #+ 

# agents = [ 'handi_' + str(i) for i in range(0,2)]

# agents = handi_ids

In [ ]:


lc = h.learning_curves()
pp = plt.figure(); plt.xlabel("t"); plt.ylabel("skill")
cmap = plt.get_cmap("tab10")
for i, agent in enumerate(agents):
    t = [v[0] for v in lc[agent]]
    mu = [v[1].mu for v in lc[agent]]
    sigma = [v[1].sigma for v in lc[agent]]
    print(agent, t[0], mu[0], sigma[0])
    plt.plot(t, mu, color= cmap(i), label=agent)
    plt.fill_between(t, [m+s for m,s in zip(mu, sigma)], [m-s for m,s in zip(mu, sigma)], alpha=0.2, color = cmap(i))

plt.legend()
plt.show()

In [ ]:


lc = h.learning_curves()
pp = plt.figure(); plt.xlabel("t"); plt.ylabel("skill")
cmap = plt.get_cmap("tab10")
for i, agent in enumerate(agents):
    t = [v[0] for v in lc[agent]]
    mu = [v[1].mu for v in lc[agent]]
    sigma = [v[1].sigma for v in lc[agent]]
    plt.plot(t, mu, color= cmap(i), label=agent)
    plt.fill_between(t, [m+s for m,s in zip(mu, sigma)], [m-s for m,s in zip(mu, sigma)], alpha=0.2, color = cmap(i))

plt.legend()
plt.show()

In [ ]:
h.learning_curves()['7'
][-1]

In [ ]:
import math

print(h.log_evidence())
math.exp(h.log_evidence()/h.size)

# Ajuste de Curva con ratings actuales

In [ ]:
current_ratings = pd.read_csv('ratings.csv')

def converted_mu(x):
    return x + (x<0) - (x>0)

current_ratings[['player_id', 'mu', 'end_date']]
current_ratings['time'] = current_ratings['end_date'].apply(lambda series: datetime.strptime(series, "%Y-%m-%d").timestamp()/(60*60*24) ) 

# Por algun motivo, skippea valores entre -1 y uno
current_ratings['mu'] = current_ratings['mu'].apply(converted_mu)



small_old_ratings = current_ratings[['player_id', 'mu', 'time']]
small_old_ratings.rename(columns={ 'mu': 'mu_old'}, inplace=True)

# df_plot = small_old_ratings[small_old_ratings.player_id.isin(small_old_ratings.player_id.sample(5))]

# sns.lineplot(x='time', y ='mu_old', hue='player_id', data=df_plot)
# df_plot.dtypes

In [ ]:
learning_curves = h.learning_curves()

l = []

for entry in learning_curves.items():
    for tup in entry[1]:
        l.append([entry[0], tup[0], tup[1].mu ])


new_ratings = pd.DataFrame(l, columns=['player_id', 'time', 'new_mu'])


new_ratings = new_ratings[~ new_ratings['player_id'].isin(['handi_0', 'handi_1' ])]
new_ratings['player_id'] = pd.to_numeric(new_ratings['player_id'])

In [ ]:
merged_ratings = small_old_ratings.merge(new_ratings, how = 'inner')

merged_ratings = merged_ratings[merged_ratings['time']> 16500]
merged_ratings = merged_ratings[merged_ratings['mu_old']> -10]

merged_ratings

df_plot = merged_ratings[merged_ratings.player_id.isin(merged_ratings.player_id.sample(5))]

sns.scatterplot(x='new_mu', y ='mu_old', hue='time', data=df_plot)

In [ ]:
## Linear Regression

from sklearn.linear_model import LinearRegression

model = LinearRegression()

x = merged_ratings['new_mu'].to_numpy().reshape((-1,1))
y = merged_ratings['mu_old'].to_numpy()


model.fit(x,y)

(model.intercept_, model.coef_[0])